
<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <% provide(:title, 'Log in') %>
    <h1 align="center">Log in</h1>

    <%= form_tag sessions_path do  %>

        <h5><p><%= label_tag :email %></h5></p>
        <%= email_field_tag :email %>

        <h5><p><%= label_tag :password %></p></h5>
        <%= password_field_tag :password  %>

        <%= submit_tag 'Log in', class: 'btn btn-primary' %>
    <% end %>

    <h5><p>New user? <%= link_to 'Sign up now!', sign_up_path %></p></h5>

  </div>
</div>
